<!DOCTYPE html>
<html>
<head>
  <title>Edit Book</title>
</head>
<body>
  <h1>Edit Book</h1>
  <form method="POST">
    <label>Title:</label><br>
    <input type="text" name="title" value="{{ book[1] }}" required><br>
    <label>Author:</label><br>
    <input type="text" name="author" value="{{ book[2] }}" required><br>
    <label>Year:</label><br>
    <input type="number" name="year" value="{{ book[3] }}"><br><br>
    <button type="submit">Update</button>
  </form>
  <a href="{{ url_for('index') }}">Back</a>
</body>
</html>
